logging.level: info
logging.to_files: true
logging.files:
  path: /var/log/filebeat
  name: filebeat
  keepfiles: 7
  permissions: 0644

filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/*.log
 
output.kafka:
  codec.format:
    string: '%{[@timestamp]} %{[message]}'
  hosts: ["{{ kafka_url }}:9092"]
  topic: apache
  partition.round_robin:
    reachable_only: false
  required_acks: 1
  compression: gzip
  max_message_bytes: 1000000