input { 
  kafka { 
    bootstrap_servers => "{{ kafka_url }}:9092" 
    topics => "apache" 
    } 
}
 
filter {
    grok {
      match => { "message" => "%{COMBINEDAPACHELOG}" }
    }
    date {
    match => [ "timestamp" , "dd/MMM/yyyy:HH:mm:ss Z" ]
    }
  geoip {
      source => "clientip"
    }
}
 
output {
  elasticsearch { 
    hosts => ["{{ elasticsearch_url }}:9200"] 
    index => "kafka-%{+YYYY.MM.dd}"
  }
}